.card {
    display: inline-block;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid grey;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    margin-top: 10px;
}

.card.matched {
    border-color: goldenrod;
}

.card.back {
    background-color: #2b81af;
    background-image: none !important;
}

#amadeus {
    background-image: url('../card_images/amadeus.jpg');
    background-position-x: -20px;
}

#pippobaudo {
    background-image: url('../card_images/pippobaudo.jpg');
    background-position-x: -40px;
}

#pippofranco {
    background-image: url('../card_images/pippofranco.jpg');
}

#pedro {
    background-image: url('../card_images/pedro.jpg');
    background-position-x: -60px;
}

#papi {
    background-position-x: -45px;
    background-image: url('../card_images/papi.jpg');
}

#mazza {
    background-image: url('../card_images/mazza.jpg');
}
