.card-list {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: auto;
    padding: 50px;
}

.win-alert {
    width: 100%;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    box-sizing: border-box;
}

.hidden {
    display: none;
}